@keyframes breathing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes breathing-arrow {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #ffc107;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameCanvas {
    background-color: #222;
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 1px;
    aspect-ratio: 1 / 1;
}

#scoreDisplay {
    font-size: 20px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

table {
    margin: 0 auto; /* Center the table horizontally */
}

button {
    background-color: #ffc107;
    border: none;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e0a800;
}

#timeBarContainer {
    width: 100%;
    max-width: 400px;
    height: 15px;
    background-color: #FFF;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
}

#timeBar {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0px;
    background-color: #00AA00;
    transition: width 0.1s linear;
}

#joystickZone {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}

#joystick {
    width: 100%;
    height: 100%;
    animation: breathing 1.2s infinite;
}

#joystickZone.active #joystick {
    animation: none;
}

.joystick-arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: breathing-arrow 1.2s infinite;
    z-index: 100;  /* Ensure arrows are on top */
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.arrow.up {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #FFF transparent;
}

.arrow.down {
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 20px 10px 0 10px;
    border-color: #FFF transparent transparent transparent;
}

.arrow.left {
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 10px 20px 10px 0;
    border-color: transparent #FFF transparent transparent;
}

.arrow.right {
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #FFF;
}

#controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

#up {
    margin-bottom: 10px;
}

#down {
    margin-top: 10px;
}

.control-button {
    width: 60px;
    height: 60px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px #3e8e41;
    margin: 0 5px;
}

.control-button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

@media (max-width: 400px) {
    canvas {
        width: 100%;
        height: auto;
    }
    button {
        padding: 8px 16px;
        font-size: 14px;
    }
    
    .arrow.up {
        border-width: 0 8px 16px 8px;
    }
    .arrow.down {
        border-width: 16px 8px 0 8px;
    }
    .arrow.left {
        border-width: 8px 16px 8px 0;
    }
    .arrow.right {
        border-width: 8px 0 8px 16px;
    }
}

.highlight {
    color: #ffff00;              /* Black text color */
}
