body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #ffc107;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameCanvas {
    /* border: 1px solid #FFFFFF; */
    background-color: #222;
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 1px;
    aspect-ratio: 1 / 1;
}

#scoreDisplay {
    font-size: 20px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

button {
    background-color: #ffc107;
    border: none;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e0a800;
}


#timeBarContainer {
    width: 100%;
    max-width: 400px;
    height: 20px;
    background-color: #333;
    margin-bottom: 10px;
}

#timeBar {
    width: 100%;
    height: 100%;
    background-color: #00AA00;
    transition: width 0.1s linear;
}

#joystickZone {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    animation: breathing 1.2s infinite;
}

#joystickZone.active {
    animation: none;
}

@media (max-width: 600px) {
    canvas {
        width: 90%;
        height: auto;
    }
    button {
        padding: 8px 16px;
        font-size: 14px;
    }
    #joystickZone {
        width: 80px;
        height: 80px;
    }
}

@keyframes breathing {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.5);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}

